.gridContainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.gridItem {
  background: #080c1255;
  backdrop-filter: blur(2px);
  width: 110px;
  height: 110px;
  margin: 10px;
  background: #11151C;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: auto;
  filter: invert(99%) sepia(0%) saturate(1576%) hue-rotate(-21deg)
    brightness(80%) contrast(73%);
}

