.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 55px;
}

.gridItem {
  width: 400px;
  height: 400px;
  background: #11151c;
  border-radius: 15px;
  color: #eee;
}


@media only screen and (max-width: 600px){
 .grid{
    grid-template-columns: repeat(1,1fr);
 }
 .gridItem{
     width: 300px;
 }
}
